/* COLOR PRINCIPAL */
:root {
    --main-orange: #E55A03;
    --dark-bg: #1f1f1f;
}

/* HERO */
.hero {
    background: url("img/imghero.jpeg") center/cover no-repeat;
    height: 70vh;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}
.hero .container {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .hero {
        height: 50vh;
        text-align: center;
        padding: 20px;
    }
}

/* ICONOS */
.feature-icon,
.service-icon {
    font-size: 2.5rem;
    color: var(--main-orange);
}

@media (max-width: 768px) {
    .feature-icon { font-size: 2rem; }
    .service-icon { font-size: 2rem; }
}

/* SERVICIOS SECTION */
.services-section {
    background: var(--dark-bg);
}
.service-box {
    background: #2b2b2b;
    color: white;
    border-radius: 8px;
    border: 1px solid #333;
}

.foto-carrusel {
  border-radius: 6px;
  object-fit: cover;
  width: 100%;
  max-height: 350px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

/* Flechas dentro del carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5); /* fondo negro semitransparente */
  border-radius: 50%;
  border: none;
  z-index: 10;
}

/* Colocarlas dentro del carrusel */
.carousel-control-prev { left: 10px; } 
.carousel-control-next { right: 10px; }


/* FOOTER */
.footer {
    background: #111;
}
